body{
  background-color: rgb(255, 102, 0, 0.5);
}

hr{
  color:white;
  border:dotted;
}

.container-fluid a:hover
{
  color: blue;
  text-decoration: none;
}

.container-fluid {
 background: white;
 position:relative;
 padding:30px 50px ;
 background-position: center;
 background-size: cover;
}

h1{
  font-family: "Bangla MN";
  color: #FF7133;
  text-align: left;
  font-size: 50px;
}

a{
  color: white;
  text-decoration: none;
  background-color: #FF7133;
  padding:20px;
  text-align: center;
  display: flex;
  font-family: "Bangla MN";
  height:50px;
  }

.menu-title{
  height: 75px;
}

.company{
  font-family:"BANGLA MN";
  font-size: 35px;
  color: firebrick;
  padding: 10px;
  background-color: #F6F6F6;
  height: 50px;
  text-align: center;
  margin-left:40px;
  margin-right:40px;
  margin-top:10px;
}

.company-small{
  font-size: 30px;
}

.logo{
  height:100px;
  float:right;
  margin-right:40px;
  background-color: white;
}

.siqs{
  height:145px;
  float:right;
  margin-right:40px;
}
.content{
  background-color: rgb(255, 102, 0, 0.7);
}
ul{
  color:white;
  font-family:"BANGLA MN";
  font-size:28px:
}

.funfacts{
  text-align:left;
}

.awards{
  text-align:left;
}
.educ{
  text-align: center;
  color:white;
  font-family:"BANGLA MN";
  font-size:28px:
}

#logo{
  border-radius:50%;
  margin-top: -35px;
  float:left;
  width:120px;
 }
