
body{
  background-color: rgb(255, 102, 0, 0.7);
}
.productspics
{
  text-align: center;
}

.container-fluid a:hover
{
  color: blue;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
  background-color: #FF7133;
  padding:20px;
  text-align: center;
  display: flex;
  font-family: "Bangla MN";
  height:50px;
  }


#menu{
  text-decoration: underline;
}
p
{
  background-color: #FF7133;
  padding:10px;
}
#logo{
  border-radius:50%;
  margin-top: -35px;
  float:left;
  width:120px;
 }

 h1{
   font-family: "Bangla MN";
   color: #FF7133;
   text-align: left;
   font-size: 50px;
 }

 .container-fluid {
  background: white;
  position:relative;
  padding:30px 50px ;
  background-position: center;
  background-size: cover;
}

.opening::after {
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background-size:50px 100px;
  height:50px;
  background-repeat: repeat-x;
}

#content{
  Margin: 30px 50px;
  min-width: 500px;
}

h2{
    font-family:"BANGLA MN";
    font-size: 25px;
    color: firebrick;
    padding: 10px;
    background-color: #F6F6F6;
    height: 60px;
    text-align: center;
    margin-left:40px;
    margin-right:40px;
  }

h3,h4{
  font-family: "Bangla MN";
  font-size: 30px;
  color: white;
  margin-top: 40px;
  text-align: center;
}
h3,h4{
  font-style: italic;
  font-size:30px;
}

h4{
  text-align:right;
  margin-right: 500px;
  margin-top:10px;
}




.description {
  font-family: "Bangla MN";
  font-size: 20px;
  color: white;
  margin-top: 15px;
  text-align: center;
  background-color: #FF8A33;
}

p{
  font-family: Caveat;
  color: white;
  font-size: 30px;
text-decoration: none;
}

#menupics{
  text-align: center;
}
